<p id="notice"><%= notice %></p>

<h1>テナント一覧</h1>

<table>
  <thead>
    <tr>
      <th>会社名</th>
      <th>担当者</th>
      <th>店舗名</th>
      <th>広さ</th>
      <th>フロア</th>
      <th>業種</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.company %></td>
        <td><%= tenant.name %></td>
        <td><%= tenant.shop %></td>
        <td><%= tenant.min_size %>坪〜<%= tenant.max_size %>坪</td>
        <td>
          <% if tenant.floor == '1' %>
            １階限定
          <% else %>
            何階でも可
          <% end %>
        </td>
        <td>
          <% if tenant.restaurant == 'food' %>
            飲食店
          <% else %>
            飲食店以外
          <% end %>
        </td>
        <td><%= link_to 'Show', tenant %></td>
        <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
        <td><%= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'テナント新規登録', new_tenant_path %>
